@font-face {
	font-family: Inter;
	font-display: swap;
	src: url("../fonts/Inter-Regular.woff2") format("woff2"), url("../fonts/Inter-Regular.woff") format("woff");
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: Irish;
	font-display: swap;
	src: url("../fonts/IrishGrover-Regular.woff2") format("woff2"),
		url("../fonts/IrishGrover-Regular.woff") format("woff");
	font-weight: 400;
	font-style: normal;
}
