.button {
	position: relative;
	z-index: 1;

	display: flex;
	justify-content: center;
	align-items: center;
	column-gap: 5px;

	width: 165.58px;
	height: 59px;

	background: linear-gradient(180deg, #a6fe50 0%, #a6ff51 20.31%, #41fd3d 50.52%, #15ef23 50.53%, #00be12 100%);
	border: 1.90323px solid #87ff6a;
	box-shadow: 0px 7.6129px 7.6129px rgba(0, 0, 0, 0.25);
	border-radius: 95.1613px;

	transition: all 0.3s ease 0s;

	span {
		font-weight: 800;
		font-size: 20px;
		line-height: math.div(24, 20);

		color: #ffffff;
		text-transform: uppercase;

		-webkit-text-stroke: 1.4px rgba(131, 255, 8, 0.38);
	}

	@media (min-width: 600px) and (min-height: 600px) {
		width: 300px;
		height: 75px;
		span {
			font-size: 28px;
		}
	}

	&._hold {
		opacity: 0.5;
		pointer-events: none;
	}
}

[type="button"] {
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	&:active {
		transform: translateY(3px);
	}
}

//========================================================================================================================================================
.preloader {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 10;

	display: grid;

	width: 100%;
	min-height: 100vh;

	background-image: url("@img/other/bg.png");
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;

	overflow: hidden;

	transition: all 0.3s ease 0s;

	&__block-acces {
	}

	&__acces {
	}

	&__button-box {
		position: absolute;
		bottom: -10px;
		left: 50%;
		transform: translateX(-50%);
	}

	// .preloader__button

	&__button {
		width: 231px;
		height: 85px;

		background-image: url("@img/other/board.png");
		background-position: center;
		background-size: contain;
		background-repeat: no-repeat;

		span {
			position: relative;
			top: -5px;
			font-size: 20px;
			line-height: math.div(24, 20);

			color: #ffffff;
		}
	}
}
.acces-preloader {
	position: relative;

	display: flex;
	flex-direction: column;

	max-height: 100vh;
	max-width: 90vw;

	padding-block: 20px 130px;
	padding-inline: 40px 22px;
	margin-inline: auto;

	overflow: auto;

	background-image: url("@img/other/paper.png");
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	@media (min-width: 700px) and (min-height: 700px) {
		background-size: 100% 110%;
	}

	&._hide {
		display: none;
	}

	// .acces-preloader__text

	&__text {
		padding-bottom: 12px;
	}

	&__link {
		color: #ebff00;
	}
}

.text-pre {
	font-family: "Inter";

	font-weight: 400;
	font-size: 14px;
	line-height: math.div(17, 14);

	color: #000;

	&__title {
		text-transform: uppercase;
	}
	@media (min-width: 700px) and (min-height: 700px) {
		font-size: 24px;
	}
}

.score {
	&._no-money {
		animation: no-money 0.7s ease 2;
	}
	&._delete-money {
		animation: delete-money 0.7s ease;
	}
	&._anim-add-money {
		animation: add-money 0.5s ease 3;
	}
}

//========================================================================================================================================================
