* {
	-webkit-touch-callout: none; /* iOS Safari */
	-webkit-user-select: none; /* Safari */
	-khtml-user-select: none; /* Konqueror HTML */
	-moz-user-select: none; /* Old versions of Firefox */
	-ms-user-select: none; /* Internet Explorer/Edge */
	user-select: none; /* Non-prefixed version, currently
											supported by Chrome, Edge, Opera and Firefox */
}

//====================================================================================================

.main {
	// .main__body

	&__body {
		position: relative;

		display: grid;
		grid-template-columns: 1fr 2fr;
		column-gap: 20px;

		height: 100vh;
		max-height: 100vh;

		transition: all 0.7s ease 0.3s;
	}
}

.shop {
	// .shop__body

	&__body {
		display: flex;
		flex-direction: column;
		row-gap: 20px;
		width: 100%;
		height: 100%;
		@media (max-height: 350px) {
			row-gap: 5px;
		}
		@media (min-width: 700px) and (min-height: 700px) {
			justify-content: center;
		}
	}

	&__header {
	}

	&__title {
		position: relative;
		left: 10px;
		width: 231px;
		height: 85px;

		display: flex;
		justify-content: center;
		align-items: center;

		&::before {
			content: "";
			position: absolute;
			z-index: 1;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -65%) rotateX(-180deg);
			width: 100%;
			height: 100%;

			background-image: url("@img/other/board.png");
			background-position: center;
			background-size: contain;
			background-repeat: no-repeat;
		}
		span {
			position: relative;
			z-index: 2;

			font-size: 20px;
			line-height: math.div(24, 20);

			color: #ffffff;
			padding-bottom: 15px;
		}
		@media (max-width: 650px) {
			width: 160px;
		}
	}

	&__items {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		column-gap: 5px;
		row-gap: 15px;
	}

	// .shop__item

	&__item {
		position: relative;

		display: flex;
		flex-direction: column;
		align-items: center;
		row-gap: 10px;

		border-radius: 10px;

		transition: all 0.7s ease 0s;
		&[data-item="4"] {
			grid-column-start: span 3;
			justify-self: flex-end;
		}

		&._selected {
			pointer-events: none;
		}

		transition: all 0.3s ease 0s;

		&:active {
			transform: translateY(2px);
		}
	}

	&__item-inner {
	}

	// .shop__image

	&__image {
		display: flex;
		flex-direction: column;

		justify-content: flex-end;
		align-items: center;
		row-gap: 30px;

		padding-bottom: 10px;
	}

	&__image-inner {
		position: relative;
		max-width: 82px;
		[data-item="4"] & {
			max-width: 50px;
		}

		img {
			max-width: 100%;
		}

		@media (min-width: em(800)) and (min-height: em(700)) {
			max-width: 160px;
		}
	}

	&__price-inner {
		position: relative;

		display: flex;
		align-items: center;
		width: 100%;

		._bought & {
			opacity: 0;
			visibility: hidden;
		}
	}

	&__price {
		padding-left: 10px;
	}

	&__icon {
		position: absolute;
		top: 50%;
		right: 5px;
		transform: translateY(-50%);
		width: 29px;
		height: 26px;

		background-image: url("@img/icons/coin.png");
		background-position: center;
		background-size: contain;
		background-repeat: no-repeat;
	}

	// .shop__button

	&__button {
		position: absolute;
		bottom: -10px;
		left: 50%;
		transform: translateX(-50%);
		display: flex;
		align-items: center;

		width: 76px;
		height: 29px;

		font-size: 13px;
		line-height: math.div(16, 13);
		color: #fff;

		&::before {
			content: "";
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;

			background-image: url("@img/other/score-board.png");
			background-position: center;
			background-size: contain;
			background-repeat: no-repeat;
		}

		._bought & {
			&::before {
				display: none;
			}
		}

		._selected & {
			&::after {
				content: "";
				position: absolute;
				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%);

				width: 30.45px;
				height: 25.55px;

				background: #37ff37 url("@img/icons/arrow.svg") center / 50% no-repeat;
				border-radius: 21px;
			}
		}

		@media (min-height: em(600)) {
			margin-bottom: 30px;
		}
	}

	&__cannon {
		position: absolute;
		bottom: 0;
		left: 0;
		width: 195px;
		height: 166px;

		transform: translate(-20%, 20%);

		background-image: url("@img/other/cannon.png");
		background-position: center;
		background-size: contain;
		background-repeat: no-repeat;
		@media (max-height: 340px) {
			width: 156px;
			height: 133px;
		}
	}
}

.map-main {
	position: relative;

	background-image: url("@img/other/paper.png");
	background-position: center;
	background-size: contain;
	background-repeat: no-repeat;
	// .map-main__body

	&__body {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);

		width: 450px;
		height: 300px;

		@media (max-width: 720px) {
			transform: translate(-50%, -50%) scale(0.8);
		}
		@media (max-width: 650px) {
			transform: translate(-50%, -50%) scale(0.6);
		}
	}

	// .map-main__path

	&__path {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		width: 420px;
		height: 200px;

		background-image: url("@img/other/path.svg");
		background-position: center;
		background-size: contain;
		background-repeat: no-repeat;
	}

	// .map-main__level

	&__level {
		position: absolute;

		opacity: 0;

		&[data-level="1"] {
			bottom: 0;
			left: 0;

			opacity: 1;
		}
		&[data-level="2"] {
			top: 0;
			left: 30px;

			opacity: 1;
		}
		&[data-level="3"] {
			top: 80px;
			left: 160px;

			opacity: 1;
		}
		&[data-level="4"] {
			top: 50px;
			right: 50px;

			opacity: 1;
		}
		&[data-level="5"] {
			bottom: 25px;
			right: 30px;

			opacity: 1;
		}

		&._closed {
			pointer-events: none;
		}
	}

	// .map-main__image

	&__image {
	}

	// .map-main__circle

	&__circle {
		position: absolute;
		width: 38px;
		height: 38px;

		background-image: url("@img/icons/circle-enable.png");
		background-position: center;
		background-size: contain;
		background-repeat: no-repeat;

		[data-level="1"] & {
			top: 45%;
			right: 0;
			transform: translateX(50%);
		}
		[data-level="2"] & {
			bottom: 5px;
			left: 41%;
			transform: translateY(50%);
		}
		[data-level="3"] & {
			bottom: 5px;
			left: 50%;
			transform: translateY(50%);
		}
		[data-level="4"] & {
			top: 0;
			right: 5px;
		}
		[data-level="5"] & {
			top: 15px;
			right: -10px;
		}
		._closed & {
			background-image: url("@img/icons/circle-disable.png");
		}
	}

	// .map-main__score-box

	&__score-box {
		position: absolute;
		bottom: 0;
		left: 50%;
		transform: translateX(-50%);
	}
}

//========================================================================================================================================================

.game {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 10;

	opacity: 0;
	visibility: hidden;
	transform: scale(0);

	transition: all 0.3s $timingFunction 0s;

	._game & {
		opacity: 1;
		visibility: visible;
		transform: scale(1);
	}
	// .game__body

	&__body {
		position: relative;

		min-height: 100vh;

		background-image: url("@img/backgrounds/level-1.png");
		background-position: center;
		background-size: cover;
		background-repeat: no-repeat;
	}

	// .game__button-home

	&__button-home {
		position: absolute;
		top: 7px;
		left: 10px;

		width: 38px;
		height: 49px;

		background-image: url("@img/icons/btn-home.png");
		background-position: center;
		background-size: contain;
		background-repeat: no-repeat;
	}

	// .game__player-ship

	&__player-ship {
	}

	// .game__enemy-ship

	&__enemy-ship {
	}

	&__bottle {
		position: absolute;
		bottom: 6px;
		left: 10px;
	}

	// .game__bottle-image

	&__bottle-image {
		width: 41.5px;
		height: 66.98px;

		background-image: url("@img/shop/bottle.png");
		background-position: center;
		background-size: contain;
		background-repeat: no-repeat;
	}

	&__bottle-circle {
		position: absolute;
		top: 0;
		right: 0;

		display: flex;
		justify-content: center;
		align-items: center;

		width: 18.2px;
		height: 16.61px;

		&::before {
			content: "";
			position: absolute;
			z-index: 1;
			top: 2px;
			left: 0;
			width: 100%;
			height: 100%;
			border-radius: 50%;

			background-color: #000;
		}
		&::after {
			content: "";
			position: absolute;
			z-index: 2;
			top: 0;
			right: 0;

			width: 100%;
			height: 100%;
			border-radius: 50%;

			background: #7e7e7e;
		}
		span {
			position: relative;
			z-index: 3;
			font-size: 12px;
			line-height: math.div(24, 20);

			color: #fff;
		}
	}

	&__prompt {
		position: absolute;
		bottom: 5px;
		left: 50%;
		transform: translateX(-50%);

		width: 293px;

		transition: all 0.7s ease 0.7s;

		&::before {
			content: "";
			position: absolute;
			top: 0;
			left: 0;
			width: 293px;
			height: 108px;
			transform: rotateY(-180deg) translateY(-20px);

			background-image: url("@img/other/board.png");
			background-position: center;
			background-size: contain;
			background-repeat: no-repeat;
		}
		span {
			position: relative;

			display: block;

			width: 190px;
			margin-inline: auto;

			font-size: 20px;
			line-height: math.div(24, 20);
			text-align: center;

			color: #ffffff;
		}

		&._hide {
			opacity: 0;
			bottom: -100px;
		}
		@media (max-width: 750px) {
			width: 205px;
			&::before {
				content: "";
				width: 205px;
				height: 75px;
				transform: rotateY(-180deg) translateY(-20px);
			}
			span {
				width: 140px;

				font-size: 14px;
			}
		}
	}
}
.player-ship {
	// .player-ship__body

	&__body {
		position: absolute;
		bottom: 55px;
		left: 5%;
		width: 250px;
		height: 238px;
		@media (min-width: 700px) and (min-height: 700px) {
			bottom: 180px;
			left: 20%;
		}
	}

	&__target {
		position: absolute;
		z-index: 5;
		top: -10px;
		left: 30px;
		width: 150px;
		height: 250px;
		border-radius: 50%;
		// background-color: rgba(255, 255, 255, 0.5);
		// border: 1px solid #000;
		transform: rotate(-50deg);
	}

	// .player-ship__ship

	&__ship {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;

		background-image: url("@img/ships/ship-1.png");
		background-position: center;
		background-size: contain;
		background-repeat: no-repeat;

		transform: rotateY(-180deg);
	}

	// .player-ship__cannon

	&__cannon {
		position: absolute;
		bottom: 60px;
		left: 30px;

		width: 61px;
		height: 52px;

		background-image: url("@img/other/cannon.png");
		background-position: center;
		background-size: contain;
		background-repeat: no-repeat;
		._ship-2 & {
			bottom: 51px;
			left: 59px;
		}
	}

	// .player-ship__character

	&__character {
		position: absolute;
		&._1 {
			top: -10px;
			left: 54px;
			._ship-2 & {
				top: -32px;
				left: 78px;
			}
		}

		&._2 {
			bottom: 76px;
			left: 3px;
			._ship-2 & {
				bottom: 67px;
				left: 36px;
			}
		}

		&._3 {
			bottom: 112px;
			left: 121px;
			._ship-2 & {
				bottom: 95px;
			}
		}

		&._4 {
			bottom: 115px;
			right: 46px;
			._ship-2 & {
				bottom: 101px;
			}
		}
	}

	&__health {
		position: absolute;
		z-index: 10;
		bottom: -40px;
		left: 31px;
	}
}
.character {
	&._1 {
		width: 46px;
		height: 68px;

		background-image: url("@img/game/pirate-1.png");
		background-position: center;
		background-size: contain;
		background-repeat: no-repeat;
	}

	&._2 {
		width: 36px;
		height: 59px;

		background-image: url("@img/game/pirate-2.png");
		background-position: center;
		background-size: contain;
		background-repeat: no-repeat;
	}

	&._3 {
		width: 37px;
		height: 63px;

		background-image: url("@img/game/pirate-3.png");
		background-position: center;
		background-size: contain;
		background-repeat: no-repeat;
	}

	&._4 {
		width: 46px;
		height: 59px;

		background-image: url("@img/game/pirate-4.png");
		background-position: center;
		background-size: contain;
		background-repeat: no-repeat;
	}
}

.enemy-ship {
	// .enemy-ship__body

	&__body {
		position: absolute;
		bottom: 55px;
		right: 5%;
		width: 250px;
		height: 238px;
		@media (min-width: 700px) and (min-height: 700px) {
			bottom: 180px;
			right: 20%;
		}
	}

	&__target {
		position: absolute;
		z-index: 5;
		top: -10px;
		right: 30px;
		width: 150px;
		height: 250px;
		border-radius: 50%;
		// background-color: rgba(255, 255, 255, 0.5);
		transform: rotate(50deg);
	}

	// .enemy-ship__ship

	&__ship {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;

		background-image: url("@img/ships/ship-1.png");
		background-position: center;
		background-size: contain;
		background-repeat: no-repeat;
	}

	// .enemy-ship__cannon

	&__cannon {
		position: absolute;
		bottom: 60px;
		right: 30px;

		width: 61px;
		height: 52px;

		background-image: url("@img/other/cannon.png");
		background-position: center;
		background-size: contain;
		background-repeat: no-repeat;

		transform: rotateY(-180deg);
	}

	// .enemy-ship__character

	&__character {
		position: absolute;

		transform: rotateY(-180deg);
		&._1 {
			top: -50px;
			right: 56px;
		}

		&._2 {
			bottom: 80px;
			right: 10px;
		}

		&._3 {
			bottom: 108px;
			right: 106px;
		}

		&._4 {
			bottom: 119px;
			left: 56px;
		}
	}

	&__health {
		position: absolute;
		z-index: 10;
		bottom: -40px;
		right: 31px;
	}
}

.health-box {
	// .player-health__body

	&__body {
		position: relative;

		display: flex;
		justify-content: center;
		align-items: center;

		width: 148px;
		height: 23px;

		background-color: #343434;
		border-radius: 11.5px;

		span {
			position: relative;
			font-size: 20px;
			line-height: math.div(24, 20);

			// color: #393939;
			color: #fff;
		}
	}

	// .player-health__indicator

	&__indicator {
		position: absolute;
		top: 50%;
		left: 0;
		transform: translateY(-50%);

		width: 100%;
		height: 100%;

		background-color: #37ff37;
		border-radius: 11.5px;

		transition: all 0.3s ease 0s;
	}
}

.bullet {
	position: absolute;
	z-index: 6;

	width: 35px;
	height: 35px;

	background-image: url("@img/game/bullet.png");
	background-position: center;
	background-size: contain;
	background-repeat: no-repeat;

	opacity: 0;
	visibility: hidden;

	&._active {
		opacity: 1;
		visibility: visible;
	}
}
.fire {
	position: absolute;
	z-index: 6;

	width: 45px;
	height: 61px;

	background-image: url("@img/game/fire.png");
	background-position: center;
	background-size: contain;
	background-repeat: no-repeat;

	pointer-events: none;

	transition: all 0.3s ease 0s;
}

//========================================================================================================================================================

.score-box {
	// .score-box__body

	&__body {
		position: relative;

		display: grid;
		align-items: center;
		justify-content: center;

		min-width: 151px;
		height: 58px;

		background-image: url("@img/other/score-board.png");
		background-position: center;
		background-size: contain;
		background-repeat: no-repeat;
	}

	// .score-box__icon

	&__icon {
		position: absolute;
		top: 50%;
		right: 0;
		transform: translateY(-50%);
	}

	// .score-box__score

	&__score {
		position: relative;
		left: -20px;
		font-size: 20px;
		line-height: math.div(24, 20);

		color: #ffffff;
	}
}

.icon-game {
	width: 58px;
	height: 53px;
	background-image: url("@img/icons/coin.png");
	background-position: center;
	background-size: contain;
	background-repeat: no-repeat;
}
//========================================================================================================================================================
.final {
	position: absolute;
	z-index: 10;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;

	display: flex;
	justify-content: center;
	align-items: center;

	opacity: 0;
	visibility: hidden;
	transform: scale(0);

	transition: all 0.5s $timingFunction 0s, background-color 0.25s ease 0.25s;

	&._visible {
		opacity: 1;
		visibility: visible;
		background-color: rgba(13, 7, 18, 0.8);
		transform: scale(1);
	}

	// .final__body

	&__body {
	}

	&__inner {
		position: relative;
		display: flex;
		justify-content: center;
		align-items: center;
		column-gap: 10px;

		width: 293px;
		height: 108px;

		&::before {
			content: "";
			position: absolute;
			top: 7px;
			left: 0;
			width: 100%;
			height: 100%;
			background-image: url("@img/other/board.png");
			background-position: center;
			background-size: contain;
			background-repeat: no-repeat;
			transform: rotateY(-180deg);
		}
	}

	// .final__title

	&__title {
		position: relative;
		font-size: 48px;
		line-height: math.div(58, 48);
		text-transform: uppercase;

		color: #ffffff;
		._lose & {
			font-size: 32px;
			line-height: math.div(39, 32);
		}
	}

	// .final__score-box

	&__score-box {
		position: relative;
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	&__icon {
		width: 40px;
		height: 37px;
	}

	&__score {
		font-size: 20px;
		line-height: math.div(24, 20);
		color: #ffffff;
	}

	// .final__button-box

	&__button-box {
		display: flex;
		justify-content: center;
	}

	// .final__button

	&__button {
		position: relative;

		display: flex;
		justify-content: center;
		align-items: center;

		width: 72.95px;
		height: 61.21px;

		&::before {
			content: "";
			position: absolute;
			z-index: 2;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;

			background-color: #37ff37;
			border-radius: 21px;
		}
		&::after {
			content: "";
			position: absolute;
			z-index: 1;
			top: 6px;
			left: 0;
			width: 100%;
			height: 100%;

			background-color: #09a009;
			border-radius: 21px;
		}
		span {
			position: absolute;
			z-index: 3;

			width: 40px;
			height: 29px;

			background-image: url("@img/icons/arrow.svg");
			background-position: center;
			background-size: contain;
			background-repeat: no-repeat;
		}
	}
}

.hide-images {
	display: none;
}

//====================================================================================================
@keyframes no-money {
	0% {
		color: #fff;
	}
	100% {
		color: rgb(255, 0, 0);
		transform: scale(1.1);
	}
}
@keyframes delete-money {
	0% {
		color: #fff;
	}
	100% {
		color: rgb(255, 155, 155);
		transform: translateY(3px);
	}
}
@keyframes add-money {
	100% {
		color: yellow;
		transform: translateY(-3px);
	}
}
